.header1 {
    font-size: 100px;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 20px #c017a9, 0 0 30px #470dce, 0 0 40px #f900c7, 0 0 50px;
    }
    to {
      text-shadow: 0 0 20px #2b04b7e1, 0 0 30px #ff4da6, 0 0 40px #9a07df,
        0 0 50px #ff4da6;
    }
  }

.back-image1 {
    background-image: url(./Images/Full-HD-1080p-Milky-Way-Galaxy-Wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}


footer{
    background-color: black;
}

.footer-container{
    width:100%;
    padding: 40px 20px;
    margin-top: 80px;
}

.social-icons{
    display: flex;
    justify-content: center;
}

.social-icons a {
    text-decoration: none;
    padding: 15px 22px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.social-icons a i{
    font-size: 25px;
    color: black;
    opacity: 0,9;
}

.social-icons a:hover{
    background-color: black;
    transition: 0.5s;
}

.social-icons a:hover i{
    color: white;
    transition: 0.5s;
}

.footer-nav{
    margin: 30px 0px;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
}
.footer-nav ul li a{
color: white;
margin: 20px;
text-decoration: none;
font-size: 10px;
opacity: 0,7;
transition: 0.5s;
}

.footer-nav ul li a: hover{
    opacity: 1;
}
.footer-bottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footer-bottom p{
    color: white;
    .designer{
        opacity:0.7;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 300;
        margin: 0px 5px;;
        
    }
}