@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Raleway&display=swap');mport url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

*{
  font-family: 'Lato', sans-serif !important;
font-family: 'Raleway', sans-serif !important;
}

html,
body{
  overflow-x:hidden;
}

.header1 {
  font-size: 100px;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 20px #c017a9, 0 0 30px #470dce, 0 0 40px #f900c7, 0 0 50px;
  }
  to {
    text-shadow: 0 0 20px #2b04b7e1, 0 0 30px #ff4da6, 0 0 40px #9a07df,
      0 0 50px #ff4da6;
  }
}

.nav-text{
  font-weight: bold;
  font-size: 20px;
}

@media and screen (max-width: 600px) {
  .Marcel {
    width: 150px !important;
    height: 200px !important;
  }

}

.Marcel{
  width: 300px;
  height: 400px;
}
  


.profile-picture{
  margin-bottom: 30px;
}

.back-image3 {
    background-image: url(./Images/sky.jpg);
background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
  }

  ul{
    padding:0 !important;
  }

  mb-4{
    padding:0 !important;
  }


  footer{
    background-color: black;
    margin-top: 70px;
}

.footer-container{
    width:100%;
    padding: 5px 0px;
}

.social-icons{
    display: flex;
    justify-content: center;
}

.social-icons a {
    text-decoration: none;
    padding: 15px 22px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.social-icons a i{
    font-size: 25px;
    color: black;
    opacity: 0,9;
}

.social-icons a:hover{
    background-color: black;
    transition: 0.5s;
}

.social-icons a:hover i{
    color: white;
    transition: 0.5s;
}

.footer-bottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footer-bottom p{
    color: white;
    .designer{
        opacity:0.7;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 300;
        margin: 0px 5px;;
        
    }
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .card{
    width: 400px;
  }

  .project-container{
    justify-content: center;
  }

  .education-container{
    margin-top: 10px;
  }

  .soft-container{
    margin-top: 30px;
  }

  .skills-container{
    margin-top: 30px;
  }



  .sub{
    color: #fff !important;
    font-weight: normal !important;
  }